/** 总页面样式 **/
* {
	margin: 0;
}
html, body {
	height: 100%;
	color: white;
	background-color: #333;
	font-family: 'Microsoft Yahei', 'SimHei', sans-serif;
}
.wrapper {
	min-height: 100%;
	height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
	height: 100%;
	margin: 0 auto -55px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
	height: 55px;
}
a:link,
a:visited,
a:active {
	text-decoration:none;
	color: #68c4ff;
}
a:hover {
	text-decoration:none;
	color: gray;
}
/** Banner区样式 **/

.banner {
	min-height: 300px;
	background: transparent url("http://img.lotlab.org/mcsgyz/banner.jpg") no-repeat scroll center bottom / 1600px auto !important;
}

@media (max-width:3840px) {
    .banner {
        background: transparent url("http://img.lotlab.org/mcsgyz/banner.jpg") no-repeat scroll center bottom / 3840px auto !important;
    }
}

@media (max-width:2560px) {
    .banner {
        background: transparent url("http://img.lotlab.org/mcsgyz/banner.jpg") no-repeat scroll center bottom / 2560px auto !important;
    }
}

@media (max-width:1920px) {
    .banner {
        background: transparent url("http://img.lotlab.org/mcsgyz/banner.jpg") no-repeat scroll center bottom / 1920px auto !important;
    }
}

@media (max-width:768px) {
    .banner {
        background: transparent url("http://img.lotlab.org/mcsgyz/banner.jpg") no-repeat scroll center bottom / 1024px auto !important;
    }
}

.banner2 {
	width: 100%;
	background: #000;
}
.nav-menu {
	height: 16.67%;
	
}
.nav-menu li:hover {
	background-color: #333;
}
.nav-menu li {
	display: inline-block;
	width: 15%;
	min-width: 72px;
	text-align: center;
}
.nav-menu li a{
	display: block;
	padding: 15px 20px;
	text-decoration:none;
	color: white;
}
.title-cover {
	height: 83.33%;
}
.site-title {
	font-size: 60px;
	padding: 90px 0px;
	text-align: center;
}

/** Footer区样式 **/
.footer {
	background-color: #222;
}
.footer-warp {
	padding: 15px 30px;
}

/** 主文章区样式 **/
.container {
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;	
}
.article {
	max-width: 1280px;
	min-width: 480px;
	margin-left: auto;
	margin-right: auto;	
	padding: 30px;
	line-height: 1.5em;
	background: #333;
	z-index: -2;
}

  /* 以下进度条样式 */ 
.process-bar,
.process-bar-2
 {
	position: relative;
	margin-left: auto;
	margin-right: auto;	
    border: 1px solid #999;
}
.process-bar-2 {
	width: 80%;
}
.table-text {
	width: 20%;
}
.process-bar-inner {
	display: block; 
	position: relative;
	background:#999;
	height: 20px;
	line-height: 20px;
}


.table {
	margin-left: auto;
	margin-right: auto;
	width: 90%;	
}

.table-header {
	display: block;
	padding: 10px 15px;
	margin-bottom: -1px;
	font-weight: 400;
	color: #ffffff;
	background-color: transparent;
	border: 1px solid #434857;
}

.table-header:first-child {
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

a.table-item {
	color: #CCC;
}
.table-item{
	position: relative;
	display: block;
	padding: 10px 15px;
	margin-bottom: -1px;
	background-color: transparent;
	border: 1px solid #434857;
	z-index: 0;
}
.table-item-fill {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	display: block;
	background-color: #444449;
}
.table-item-proc {
	float: right !important;
	color: #999999;
}
 /* 小屏幕样式 */
 
@media (max-width: 768px){
	.banner {
		min-height: 150px;
	}
	
	.site-title {
		font-size: 36px;
		padding: 30px 0px;
	}

	.nav-menu {
		padding-left: 15px;
	}
	.nav-menu li {
		width: 15%;
		min-width: 65px;
	}
	.nav-menu li a{
		padding: 15px 5px;
	}
	.article {
		min-width: 0px;
		padding: 15px;
	}
	.footer-warp {
		padding: 15px 15px;
		font-size: 90%;
	}
	.process-bar-2 {
		width: 100%;
	}
	.table-text {
		width: 20%;
	}	
	.wrapper {
		margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height */
	}
	.footer, .push {
		height: 50px;
	}
}

@media (max-width: 480px){
	h2 {
		font-size: 125%;
	}
	h3 {
		font-size: 110%;
	}

	.banner {
		min-height: 120px;
	}
	
	.site-title {
		font-size: 32px;
		padding: 30px 0px;
	}

	.nav-menu {
		padding-left: 12px;
	}
	.nav-menu li {
		width: 15%;
		min-width: 55px;
	}
	.nav-menu li a{
		padding: 10px 5px;
	}
	.article {
		min-width: 0px;
		padding: 15px;
	}
	.footer-warp {
		padding: 10px 15px;
		font-size: 80%;
	}
	.table-text {
		width: 30%;
	}
	.wrapper {
		margin: 0 auto -38px; /* the bottom margin is the negative value of the footer's height */
	}
	.footer, .push {
		height: 38px;
	}	
}
/** 图片展示区样式 **/
.slider-img {
	width: 100%;
}
.unslider {
	position: relative;
}
.unslider-arrow {
	display: block;
	top: 50%;
	width: 32px;
	height: 32px;
	margin-top: -16px;
	overflow: hidden;
	background: rgba(0,0,0,.2) no-repeat 50% 50%;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAQCAQAAABuQZ3IAAAAi0lEQVR4AU3OISBEQQBAwS0AACS9NxqQgCZpkiYBVddFvWhAAUABAPQCAGC4g/0vTnrBqCfDIZl70J+kMUBPpEwT4FNXxBxz4F1HxHyr4EVTxBLb4EFNxEon4CJSlVNw9AcV9sC16h8osgke1P1ArgXwouVvdQq86ww/GQefusNf7kBviBlxpT8k+gL/Wox4r1d4MwAAAABJRU5ErkJggg==');
	background-size: 7px 11px;
	border-radius: 32px;
	text-indent: -999em;
	opacity: .6;
	transition: opacity .2s;
}
.unslider-arrow.prev {
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.slider-desc {
	display: block;
	height: 32px;
	width: inherit;
	color: rgba(255,255,255,.5);
	background: rgba(0,0,0,.2);
	position: absolute;
	z-index: 3;
	margin-top: -36px;
	padding-left: 20px;
	line-height: 32px;
}